@model HotelAppWeb.Models.BookRoomModel
@{
    ViewData["Title"] = "Book A Room";
}

<h1>Book A Room</h1>

<h2>@Model.RoomType.Title</h2>

<p>
    @Model.RoomType.Description
</p>

<form asp-action="BookRoom" method="post">
    <div class="form-group">
        <label asp-for="FirstName">
            First Name:
        </label>
        <input type="text" asp-for="FirstName" />
    </div>
    <div class="form-group">
        <label asp-for="LastName">
            Last Name:
        </label>
        <input type="text" asp-for="LastName" />
    </div>
    <button type="submit" class="btn btn-primary">Book</button>
</form>